body {
    margin: 0;
    color: #edf3ff;
    background: #c8c8c8;
    background: url(https://hdqwalls.com/download/material-design-4k-2048x1152.jpg) fixed;
    background-size: cover;
    font: 600 16px/18px 'Open Sans',sans-serif;
}

.contact {
    padding: 4%;
    height: 400px;
}

.col-md-3 {
    
    padding: 4%;
    border-top-left-radius: 0.5rem;
    border-bottom-left-radius: 0.5rem;
}

.contact-info {
    
    margin-top: 10%;
}

    .contact-info img {
        margin-bottom: 15%;
    }

    .contact-info h2 {
        margin-bottom: 10%;
    }

.col-md-9 {
    background: rgba(0,0,0,0.5);
    padding: 3%;
    border-top-right-radius: 0.5rem;
    border-bottom-right-radius: 0.5rem;
}

.contact-form label {
    font-weight: 600;
}

.contact-form button {
    background: #FBBE19;
    color: #fff;
    font-weight: 600;
    width: 25%;
}

    .contact-form button:focus {
        box-shadow: none;
    }
